body {
    margin: 0;
    height: 0;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.flex-row {display: flex; flex-direction: row;}
.flex-row {display: flex; flex-direction: column;}