:host {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    
    mat-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .members-grid-card {
        padding-top: 0%;
        margin: 2%;
        height: 100%;
        overflow: auto;

    }

    .members-grid-card::-webkit-scrollbar {
        width: .5rem;
    }

    .members-grid-card::-webkit-scrollbar-thumb {
        background-color: #757575;
        border-radius: 6px;
    }

    table {
        flex: 1;
        width: 100%;
    }
}
